* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Variables */
    --color-highlight: #dcc48e;
    --color-light: #eaefd3;
    --color-medium: #b3c0a4;
    --color-medium2: #ab6701;
    --color-darker: #505168;
    --color-dark: #27233a;
    --color-border: rgba(153, 153, 153, 0.7);
}

.icon-container {
    max-height: 100%;
    aspect-ratio: 1/1;
}

.icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent 49%, var(--color-darker) 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, var(--color-darker) 49% 51%, transparent 51%);
    background-size: 4em 4em;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-darker);
}

body {
    width: 65%;
    height: 95%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: var(--color-dark);
    border: 3px solid var(--color-darker);
    border-radius: 20px;
}

header {
    width: 100%;
    max-height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: calc(20px + 2vh);
    border-bottom: 3px solid var(--color-border);
}

.logo > .logo-name {
    font-size: 70px;
    color: var(--color-light);
}

.logo > .logo-slogan {
    font-size: 30px;
    color: var(--color-medium);
}

.logo > .logo-slogan > a {
    color: var(--color-medium2);
    text-decoration: none;
}

header > ul {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    list-style-type: none;
}

header > ul > li {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

header > ul > li > button {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    outline: 0;
    border: 3px solid var(--color-darker);
    border-radius: 20px;
    color: var(--color-medium);
    background: transparent;
    font-size: 30px;
    transition: border-color 250ms;
}

header > ul > li > button:hover {
    border-color: var(--color-medium);
    
}

@media (max-width: 1590px) {
    .logo > .logo-name {
        font-size: 40px;
    }
    .logo > .logo-slogan {
        font-size: 20px;
    }
    header > ul > li > button {
        padding: 2vw;
        font-size: 25px;
    }
}

@media (max-width: 1250px) {
    body {
        width: 100%;
    }
    header > ul {
        width: 50%;
    }
}

@media (max-width: 930px) {
    .page.home {
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        
    }
    .page.home > .left,
    .page.home > .right {
        width: 100% !important;
    }
    .page.home > .left > *,
    .page.home > .right > * {
        padding: 2rem !important;
    }

}

main {
    width: 100%;
    height: 70%;
    flex: 1 0 auto;
    padding: .3vh;
}

.page.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
}

.page.home > .left,
.page.home > .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.page.home > .left > .rules,
.page.home > .left > .game,
.page.home > .right{
    padding: 1rem;
    border: 3px solid var(--color-border);
    border-radius: 20px;
    color: var(--color-medium);
    font-family: 'Arial',sans-serif;
    font-size: 1.5rem;
}

.page.home > .left > .rules {
    height: 75%
}

.page.home > .left .intro {
    padding: 1rem 0;
    line-height: 2rem;
}

.page.home > .left > .game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 25%;
}

.page.home .title {
    width: 100%;
    max-height: 20%;
    display: flex;
    align-items: center;
    color: var(--color-highlight);
    font-family: 'Times New Roman',serif;
    font-size: 1.5rem;
}

.page.home > .left .game .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.page.home .gameRules {
    width: 100%;
    height: 80%; 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page.home .gameRules > input {
    height: 100%;
    padding-left: 1rem;
    outline: none;
    border: 3px solid var(--color-darker);
    border-radius: 10px;
    color: var(--color-highlight);
    background-color: transparent;
    font-size: 1.5rem;
}

.page.home .startGame{
    padding: .8rem;
    border: 3px solid var(--color-medium2);
    border-radius: 20px;
    color: var(--color-light);
    background-color: transparent;
    font-size: 1.5rem;
    transition: border-color 250ms; 
}

.page.home .startGame:hover {
    border-color: var(--color-highlight);
    cursor: pointer;
}

.page.home .games {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.page.home .games::-webkit-scrollbar {
    width: 15px;
    background: var(--color-darker);
    border-radius:10px;
}
.page.home .games::-webkit-scrollbar-thumb {
    background: var(--color-medium2);
    border: 2px solid var(--color-dark);
    border-radius: 10px;
}
.page.home .games::-webkit-scrollbar-thumb:active {
    background: var(--color-highlight);
}

.page.home .right .game {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1.5px solid var(--color-border);
    border-left: 3px solid var(--color-border);
    border-right: 3px solid var(--color-border);
    border-bottom: 3px solid var(--color-border);
    user-select: none;
}

.page.home .right .game > * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.page.home .right .game > *:not(:last-child){
    border-right: 3px solid var(--color-border);
}

.page.home .right .game > .timestamp {
    width: 40%;
    flex-direction: column;
}

.page.home .right .game > .stats {
    width: 60%;
    justify-content: space-evenly;
}
.page.home .right .game > .stats > * {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.page.home .right .game > .stats > * > * {
    display: flex;

    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

.wrapper > button {
    width: 25%;
    height: 70%;
    border: 3px solid ;
    border-radius: 20px;
    background: transparent;
    outline: none;
    transition: transform 200ms;
}

.wrapper > button:hover {
    transform: scale(1.05);
}

footer {
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6vh;
    border-top: 3px solid var(--color-border);
    color: var(--color-medium);
    font-family: 'Arial', sans-serif;
    font-size: 1.4rem;
}

footer > span,
footer > a {
    height: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-medium);
    fill: var(--color-medium);
}

footer > a {
    text-decoration: none;
    transition: color 250ms,fill 250ms;
}

footer > a:hover {
    color: var(--color-highlight);
    fill: var(--color-highlight);
}