@media (max-width: 1590px) {
    body {
        width: 80%;
    }
    .logo > .logo-name {
        font-size: 60px;
    }
    .logo > .logo-slogan {
        font-size: 24px;
    }
    header > ul > li > button {
        padding: 2vw;
        font-size: 25px;
    }

}

@media (max-width: 1250px) {
    body {
        width: 100%;
    }
    header > ul {
        width: 40%;
    }
    header > ul > li > button {
        padding: 1vw .5vw;
        font-size: 25px;
    }
}

@media (max-width: 950px) {
    .logo > .logo-name {
        font-size: 50px;
    }
    .logo > .logo-slogan {
        font-size: 22px;
    }
    header > ul > li > button {
        padding: 2vw;
        font-size: 25px;
    }
    main {
        display: flex;
        justify-content: center;
    }
    .page.home {
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
    }
    .page.home::-webkit-scrollbar {
        display: none;
        width: 15px;
        background: var(--color-darker);
        border-radius:10px;
    }
    .page.home::-webkit-scrollbar-thumb {
        background: var(--color-medium2);
        border: 2px solid var(--color-dark);
        border-radius: 10px;
    }
    .page.home::-webkit-scrollbar-thumb:active {
        background: var(--color-highlight);
    }
    .page.home > .left,
    .page.home > .right {
        width: 100% !important;
    }
    .page.home > .left {
        height: unset;
        margin-bottom: 1rem;
    }
    .page.home .gameSettings {
        height: 30% !important ;
        gap: 2rem !important;
    }
    .page.home > .left > * {
        padding: 2rem !important;
    }
    .page.home .games,
    .page.home .games > .game:first-child {
        padding: 0 !important;
    }
    .page.home .startGame{
        font-size: 2rem !important;
    }
}

@media (max-width: 840px) {
    header {
        flex-direction: column;
        gap: 1vh;
        height: 20%;
    }
    .logo > .logo-name {
        font-size: 60px;
    }
    .logo > .logo-slogan {
        font-size: 24px;
    }
    .navButtons {
        width: 70%;
        gap: max(10%);
    }
    .navButtons button {
        height: 100%;
        padding: 2vw;
        font-size: 25px;
    }
    main {
        height: 70%;
    }
    .copyright-text {
        display: none;
    }
}