.page.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
}

.page.home > * {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.page.home .rules,
.page.home .gameSettings,
.page.home > .right{
    padding: 1rem;
    border: 3px solid var(--color-border);
    border-radius: 20px;
    color: var(--color-medium);
    font-family: 'Arial',sans-serif;
    font-size: 1.5rem;
}

.page.home .title {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-highlight);
    font-family: 'Times New Roman',serif;
    font-size: 2rem;
}

.page.home .gameSettings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page.home .setting {
    width: 100%;
    height: 80%; 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page.home .setting > input {
    height: 100%;
    padding-left: 1rem;
    outline: none;
    border: 3px solid var(--color-darker);
    border-radius: 10px;
    color: var(--color-highlight);
    background-color: transparent;
    font-size: 1.5rem;
}

.page.home .startGame{
    padding: .8rem;
    border: 3px solid var(--color-medium2);
    border-radius: 20px;
    color: var(--color-light);
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
    transition: border-color 250ms; 
}

.page.home .startGame:hover {
    border-color: var(--color-highlight);
    cursor: pointer;
}

.page.home .rules {
    flex-grow: 1;
}

.page.home .games {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.page.home .games > .game:first-child {
    position: fixed;
    background-color: var(--color-dark);
    top: 0;
  }

.page.home .games::-webkit-scrollbar {
    width: 15px;
    background: var(--color-darker);
}
.page.home .games::-webkit-scrollbar-thumb {
    background: var(--color-medium2);
    border: 2px solid var(--color-dark);
}
.page.home .games::-webkit-scrollbar-thumb:active {
    background: var(--color-highlight);
}

.page.home > .right {
    gap: 0;
}

.page.home > .right > .game {
   padding-right: 2rem !important;
}

.page.home > .right > .title{
    margin-bottom: 1.5rem;
}

.page.home .right .game {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1.5px solid var(--color-border);
    border-left: 3px solid var(--color-border);
    border-right: 3px solid var(--color-border);
    border-bottom: 3px solid var(--color-border);
    user-select: none;
}

.page.home .right .game:first-child {
    position: sticky;
}

.page.home .right .game > * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.page.home .right .game > *:not(:last-child){
    border-right: 3px solid var(--color-border);
}

.page.home .right .game > .timestamp {
    width: 40%;
    flex-direction: column;
}

.page.home .right .game > .stats {
    width: 60%;
    justify-content: space-evenly;
}
.page.home .right .game > .stats > * {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.page.home .right .game > .stats > * > * {
    display: flex;

    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

.wrapper > button {
    width: 25%;
    height: 70%;
    border: 3px solid ;
    border-radius: 20px;
    background: transparent;
    outline: none;
    transition: transform 200ms;
}

.wrapper > button:hover {
    transform: scale(1.05);
}